*{
    margin:0;
    padding:0;
}
body {
    background-color:#FFF;
    font:14px/1.3 Arial,sans-serif;
}

.facebook {
    margin-left:6%;
	margin-top:20px;
}

#facebookUsers{
	margin-left:6%;
}
#result_friends {
    overflow-y:auto;
	border:1px solid black;
    width: 40%;
	height:140px;
	margin-left:6%;
}

.linkedIn {
    margin-left:6%;
	margin-top:20px;
}

#linkedInUsers{
	margin-left:6%;
}
#result_friends_linkedIn {
    overflow-y:auto;
	border:1px solid black;
    width: 40%;
	height:140px;
	margin-left:6%;
	float:left;
}

#commonFriendsButton{
	position: absolute;
	margin-left:5%;
	top:250px;
	width:130px;
	height:50px;
}

#common_friends {
    overflow-y:auto;
	top:30px;
	border:1px solid black;
    width: 40%;
	height:140px;
	margin-left:5%;
	float:left;
}